@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1276px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  position: relative;
  z-index: 3;
  padding: 10px 0px;
  background: #000;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  border-radius: 45px;
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.header__item {
  width: 160px;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__item:last-child {
  margin-right: 0px;
  width: 140px;
}
.header__link {
  letter-spacing: 0.235px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  padding: 16px 35px;
  border-radius: 45px;
}
.header__link:hover {
  letter-spacing: 0px;
  transition: 0.1s;
  background: #fff;
  color: #000;
  font-weight: 600;
}
.header__nav-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #fff;
  background: #212121;
  width: 160px;
  height: 50px;
  border-radius: 45px;
}
.header__nav-btn:hover {
  transition: 0.1s;
  background: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 45px;
}

.discover {
  background: url("../images/fone-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 805px;
  position: relative;
}
.discover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.614);
}
.discover__inner {
  position: relative;
  z-index: 2;
  display: flex;
}
.discover__info {
  padding-top: 146px;
}
.discover__title {
  margin-bottom: 59px;
  width: 549px;
}
.discover__title span:nth-child(1) {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 80px;
  line-height: 96px;
  color: #D1D1D1;
}
.discover__title span:nth-child(2) {
  margin-left: 15px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 49px;
  line-height: 96px;
  color: #D1D1D1;
}
.discover__title span:nth-child(3) {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 90px;
  line-height: 119.5%;
  color: #FFFFFF;
}
.discover__text-info {
  margin-bottom: 72px;
  width: 611px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 127.5%;
  color: #FFFFFF;
}
.discover__not-btn {
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 127.5%;
  padding: 9px 30px;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #fff;
}
.discover__not-btn::before {
  position: absolute;
  top: 50%;
  right: 100%;
  content: "";
  width: 100vw;
  height: 1px;
  background: #fff;
}
.discover__gallery {
  position: relative;
  z-index: -1;
  border-radius: 20px;
  border: 1px solid #000;
  width: 810px;
  background: rgba(254, 245, 245, 0.09);
  backdrop-filter: blur(39px);
}

.brand {
  background: #B1B1B1;
}
.brand__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0 38px;
}

.world {
  background: url("./../../images/world-fone.jpg");
  height: 1298px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.world__info-box {
  padding-top: 79px;
  text-align: center;
  margin: 0 auto;
}
.world__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.01em;
  margin-bottom: 29px;
  color: #FFFFFF;
}
.world__title span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.01em;
  color: #03CEC9;
}
.world__text {
  margin: 0px auto 42px auto;
  width: 611px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 127.5%;
  color: #FFFFFF;
}
.world__form {
  display: flex;
  position: relative;
  width: 503px;
  height: 51px;
  display: inline-block;
  background: #fff;
  border-radius: 13px;
  margin-bottom: 30px;
  transition: 0.3s all;
}
.world__form--active {
  box-shadow: 0 3px 14px #fff;
  transition: 0.3s all;
}
.world__label {
  padding: 0px 5px 0px 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 74px;
}
.world__label::before {
  position: absolute;
  top: 16px;
  left: 34px;
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  background-image: url("../images/input-img.svg");
}
.world__input {
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #5e5e5e;
}
.world__input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #8A8A8A;
}
.world__form-btn {
  user-select: none;
  position: relative;
  width: 49px;
  height: 45px;
  background: #1E1325;
  border-radius: 11px;
}
.world__form-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  content: "🡪";
}
.world__btn {
  position: relative;
  display: block;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 9px 30px;
  margin-bottom: 76px;
}
.world__btn::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 100%;
  height: 1px;
  width: 100vw;
  background: #fff;
}
.world__gallery-box {
  display: grid;
  grid-template-columns: 610px 277px 314px 907px;
  grid-template-rows: 372px 300px;
  gap: 20px;
  margin-bottom: 50px;
}
.world__gallery-box .gallery {
  padding: 13px 16px;
  border-radius: 10px;
  background: rgba(254, 245, 245, 0.09);
  backdrop-filter: blur(9px);
  color: #fff;
}
.world__gallery-box .gallery img {
  border-radius: 8px;
}
.world__gallery-box .gallery:nth-child(3) {
  height: 693px;
}
.world__gallery-box .gallery:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 300px;
  display: flex;
  align-items: center;
}
.world__gallery-box .gallery__item-img {
  max-width: 100%;
}
.world__gallery-box .gallery__title {
  margin-top: 10px;
  margin-bottom: 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #F3F3F3;
}
.world__gallery-box .gallery__like-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.world__gallery-box .gallery__item-name {
  width: 100%;
  padding-left: 20px;
}
.world__gallery-box .gallery__desk {
  padding-left: 30px;
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #F3F3F3;
}
.world__gallery-box .gallery__desk::before {
  content: "";
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  background: url("../../images/location-img.svg");
}
.world__gallery-box .gallery span {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #494949;
}
.world__gallery-box .gallery span::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 22.95px;
  height: 22.95px;
  display: block;
  position: absolute;
  background-image: url("../../images/heart.svg");
}
.world__more-btn {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  background: transparent;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.services {
  padding: 44px 0px 107px 0px;
}
.services__cards {
  display: flex;
}
.services__box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.services__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.01em;
  color: #009490;
}
.services__cards-item {
  width: 365px;
  position: relative;
  display: flex;
  align-items: center;
}
.services__cards-item span {
  margin-right: 30px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 81px;
  letter-spacing: 0.01em;
  color: #6B6B6B;
}
.services .services__cards-item:not(:last-child) {
  margin-right: 76px;
}
.services__box-desk {
  position: absolute;
  top: -10px;
  left: 0;
  padding: 9px 14px 14px 14px;
  background: #171721;
  border-radius: 4px;
  width: 207px;
  color: #fff;
}

.box-desk-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.box-desk-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 127.5%;
  color: #FFFFFF;
}

.flight {
  background-color: #272727;
}
.flight__content {
  flex: 0 0 100%;
}
.flight__body {
  padding: 37px 0 0 0;
  width: 50%;
}
.flight__titel {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.flight__titel span {
  color: #009490;
  font-weight: 600;
}
.flight__images img {
  max-width: 100%;
}
.flight__form-box {
  width: 551px;
  padding: 43px 66px 26px 66px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='white' stroke-width='1' stroke-dasharray='17%2c17' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 25px;
}
.flight__form .form-label {
  padding-left: 34px;
  position: relative;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.flight__form .form-label:before {
  top: 3px;
  left: 0;
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #272727;
  border: 1px solid #fff;
}
.flight__form .form-label:after {
  top: 7px;
  left: 4px;
  content: "";
  width: 14px;
  height: 14px;
  opacity: 0;
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #009490;
}
.flight__form .radio-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
@media (min-width: 767px) {
  .flight {
    display: flex;
  }
  .flight__images {
    position: relative;
    flex: 0 0 50%;
    transform: translate(-100%, 0%);
  }
}