@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

[class*=__container] {
  max-width: 1276px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  position: relative;
  z-index: 3;
  padding: 10px 0px;
  background: #000;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  border-radius: 45px;
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.header__item {
  width: 160px;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__item:last-child {
  margin-right: 0px;
  width: 140px;
}
.header__link {
  letter-spacing: 0.235px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  padding: 16px 35px;
  border-radius: 45px;
}
.header__link:hover {
  letter-spacing: 0px;
  transition: 0.1s;
  background: #fff;
  color: #000;
  font-weight: 600;
}
.header__nav-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #fff;
  background: #212121;
  width: 160px;
  height: 50px;
  border-radius: 45px;
}
.header__nav-btn:hover {
  transition: 0.1s;
  background: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 45px;
}

.discover {
  background: url(../images/fone-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
.discover__overlya {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 870px;
  background: rgba(0, 0, 0, 0.614);
}
.discover__inner {
  position: relative;
  z-index: 2;
  display: flex;
}
.discover__info {
  padding-top: 146px;
}
.discover__title {
  margin-bottom: 59px;
  width: 549px;
}
.discover__title span:nth-child(1) {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 80px;
  line-height: 96px;
  color: #D1D1D1;
}
.discover__title span:nth-child(2) {
  margin-left: 15px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 49px;
  line-height: 96px;
  color: #D1D1D1;
}
.discover__title span:nth-child(3) {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 90px;
  line-height: 119.5%;
  color: #FFFFFF;
}
.discover__text-info {
  margin-bottom: 72px;
  width: 611px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 127.5%;
  color: #FFFFFF;
}
.discover__not-btn {
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 127.5%;
  padding: 9px 30px;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #fff;
}
.discover__not-btn::before {
  position: absolute;
  top: 50%;
  right: 100%;
  content: "";
  width: 337vw;
  height: 1px;
  background: #fff;
}
.discover__gallery {
  position: relative;
  z-index: -1;
  border-radius: 20px;
  border: 1px solid #000;
  width: 810px;
  background: #000;
}